<div class="container-fluid p-0">
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <h1 class="mb-0">Kapil
        <span class="text-primary">Chouhan</span>
      </h1>
      <div class="subheading mb-4">C-404 Shubham Karoti, Vishal Nagar, Pune-411027, India.
        <div>Contact Number: +91 -7879079699, 7999426959</div>
        <a href="mailto:kpl.chouhan99@gmail.com" class="email-color">kpl.chouhan99@gmail.com</a>
      </div>
      <p class="lead mb-1">I am full stack Ruby on Rails developer with front-end skills(React), having 4 years solid working experience.</p>
      <p class="lead mb-1">As a full stack developer, I am responsible for writing server-side web application logic, around the framework Rails. I usually develop back-end components, connect the application with the other (often third-party) web services, and support the front-end integrating with the application.</p>
      <p class="lead mb-1">I always work by Agile software development methods.</p>
      <p class="lead mb-1">I have experiences in leading and working with the several large projects.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/kapil-chouhan-71a983192/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/kapilchouhan99" target="_blank">
          <i class="fab fa-github"></i>
        </a>
<!--         <a href="#">
          <i class="fab fa-twitter"></i>
        </a> -->
        <a href="https://www.facebook.com/kapilsingh.chouhan.9?ref=content_filter" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
      <h2 class="mb-5">Work Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Senior Software Engineer</h3>
          <div class="subheading mb-3">Chef.io</div>
          <p>Chef is used to streamline the task of configuring and maintaining a company’s servers, and can integrate with cloud-based platforms such as Microsoft Azure, Amazon EC2 and Oracle Cloud to automatically provision and configure new machines.</p>
          <div class="subheading mb-3">Responsibilities</div>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fas fa-hand-point-right"></i>We are directly contributing to chef and responsible to enhancements new feature and bug fixes</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Back-end coding</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Responsible to write Rspec</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Write clean , maintainable and efficient code</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Participated in code reviews</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">September 2018 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Software Engineer</h3>
          <div class="subheading mb-3">sayrhino.com / rhinopropertymanagement.com</div>
          <p>Rhino is a real estate technology company replacing security deposits with a smarter alternative that's better for both renters and landlords. Renters pay a small monthly fee instead of a large security deposit while landlords receive more security.</p>
          <div class="subheading mb-3">Responsibilities</div>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fas fa-hand-point-right"></i>Responsible to enhancements new feature</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Back-end coding , which includes database queries</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Front-end coding using React, jQuery and CSS</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Responsible to write Rspec</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Write clean , maintainable and efficient code</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Participated in code reviews</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">May 2017 - August 2018</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Ruby on Rails Developer</h3>
          <div class="subheading mb-3">Rubberstamp.io</div>
          <p>Rubberstamp.io is a simple purchase order management tool that helps companies keep spending within budgets. It’s provide many features that helps companies to manage purchase orders, budgets, employees, suppliers and product list at different levels.</p>
          <div class="subheading mb-3">Responsibilities</div>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fas fa-hand-point-right"></i>Responsible to enhancements new feature</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Back-end coding , which includes database queries</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Basic front-end coding using React, jQuery and CSS</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Responsible to write Rspec</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Write clean , maintainable and efficient code</li>
            <li><i class="fa-li fas fa-hand-point-right"></i>Participated in code reviews</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">January 2016 - April 2017</span>
        </div>
      </div>
    </div>

  </section>
  <hr class="m-0">
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">Bachelor of Engineering</h3>
          <div class="subheading mb-3">Vindhya Institute of Technology & Science, INDORE (M.P.), India</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2009 - May 2013</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">Class 12<sup>th</sup></h3>
          <div class="subheading mb-3">GOVT  Boys H S School, Barwaha Khargone (M.P.), India</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">July 2007 - May 2008</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">Class 10<sup>th</sup></h3>
          <div class="subheading mb-3">Excellence school of  Khargone (M.P.), India</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">July 2005 - May 2006</span>
        </div>
      </div>

    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
      <h2 class="mb-5">Skills</h2>
      <ul class="fa-ul mb-0">
        <li><i class="fa-li fas fa-hand-point-right"></i>Ruby on Rails</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>Ruby</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>Reactjs</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>Chef</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>jQuery</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>Javascript</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>XHTML</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>HTML</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>CSS</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>HAML</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>PostgreSQL</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>MySQL</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>Amazon EC2</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>Amazon S3</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>Google Cloud</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>Microsoft Azure</li>
      </ul>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
      <h2 class="mb-3">HOBBIES &amp; INTERESTS</h2>
      <p>Apart from being a Software developer, I enjoy most of my time being outdoors.</p>
      <ul class="fa-ul mb-0">
        <li><i class="fa-li fas fa-hand-point-right"></i>Playing Cricket & Chess</li>
        <li><i class="fa-li fas fa-hand-point-right"></i>Listening Music</li>
      </ul>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
    <div class="w-100">
      <h2 class="mb-5">Awards &amp; Certifications</h2>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Passed ‘A’ certificate of NCC (National Cadet Corps)
        </li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Got 1<sup>st</sup> Prize in Chess Competition
        </li>
      </ul>
    </div>
  </section>
</div>
<%= javascript_include_tag('jquery.easing.min.js') %>
<%= javascript_include_tag('resume.min.js') %>