@import "bootstrap";
@import "resume";
@import "font-awesome-sprockets";
@import "font-awesome";

.nav-color {
  background-color: darkcyan;
}

.img-profile {
  width: 100%;
  border-radius: 15px;
}

.email-color {
  color: darkcyan;
}

.social-icons {
  margin-top: 20px;
}